body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
}

#crearTorneo{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.torneo {
    margin-top: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.material-symbols-outlined.rotate {
    transform: rotate(180deg);
}

.torneo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nombre-torneo {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 30px;
}

.num-equipos .puntos-necesarios{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.torneo-header .btn-minimizar,
.torneo-header .btn-eliminar,
.torneo-header .btn-configurar {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    font-size: 24px;
}

.torneo-header .btn-eliminar:hover {
    color: #dc3545;
}

.torneo-header .btn-configurar:hover {
    color: #6c757d;
}

.config {
    margin-top: 20px;
}

.config input {
    display: block;
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.config button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.config h3{
    font-size: 18px;
    text-align: center;
}

.parejas {
    margin: 20px 0;
}

.jornadas {
    margin: 20px 0;
}

.liguilla {
    margin: 20px 0;
}

/* Estilos para la tabla de jornadas */
.jornada h3 {
    text-align: center;
    margin: 10px 0;
    position: relative;
    font-size: 18px;
}

.jornada h3::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #31343a;
    margin: 8px auto 0;
}

.jornada table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.jornada th,
.jornada td {
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.jornada th {
    color: #ffffff;
    font-weight: bold;
}

/* Ajuste para que la tabla sea completamente visible en pantallas grandes */
.jornada table {
    display: table;
    overflow-x: visible;
}

/* Ajuste para los inputs de puntos */
.puntosLocal,
.puntosVisitante {
    width: 90%; /* Ocupa casi todo el espacio de la columna */
    box-sizing: border-box; /* Incluye padding y border dentro del width */
    padding: 8px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de texto adecuado */
    border: 1px solid #ced4da; /* Borde del input */
    border-radius: 5px; /* Esquinas redondeadas */
    text-align: center; /* Centra el texto dentro del input */
    margin: 0 auto; /* Centra el input horizontalmente */
    display: block; /* Asegura que el input se comporte como un bloque */
}

/* Ajuste para centrar los inputs dentro de la celda */
.jornada td {
    text-align: center; /* Centra el contenido horizontalmente */
    vertical-align: middle; /* Centra el contenido verticalmente */
    padding: 10px; /* Espaciado interno */
}

/* Ajuste específico para inputs y labels */
.jornada td input,
.jornada td label {
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: block; /* Asegura que ocupe su propio espacio */
    width: 100%; /* Ocupa todo el espacio disponible */
    max-width: 120px; /* Restringe el ancho máximo para inputs y labels */
}

/* Estilo de las tablas en liguilla */
.liguilla table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.liguilla table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.liguilla .semifinal-container,
.liguilla .final-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.liguilla .table {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liguilla .vs {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .jornada table {
        display: block;
        overflow-x: auto;
    }

    .jornada th,
    .jornada td {
        font-size: 12px;
        padding: 8px;
    }
}