.torneo {
    border: 1px solid #778c99;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f8f9fa;
}

.table-container h2{
    text-align: center; /* Centra el texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-weight: bold; /* Hace que el texto sea más grueso */
    margin-bottom: 20px; /* Espaciado debajo del título */
    position: relative; /* Para poder posicionar la línea debajo */
}

.table-container h2::after {
    content: ''; /* Línea decorativa debajo del texto */
    display: block; /* Convierte el pseudo-elemento en un bloque */
    width: 50%; /* Ancho de la línea (ajusta al tamaño deseado) */
    height: 3px; /* Grosor de la línea */
    background-color: #343a40; /* Color del menú */
    margin: 10px auto 0; /* Centra la línea debajo del texto */
}

.configuracion {
    display: none;
    margin-top: 20px;
    border: 1px dashed #778c99;
    padding: 15px;
    background-color: #ffffff;
    color: #343a40;
}

.plus-button, .delete-button, .minimize-button {
    width: 30px; /* Aumenta el tamaño del botón */
    height: 30px; /* Aumenta el tamaño del botón */
    font-size: 18px; /* Tamaño del símbolo */
    font-weight: bold; /* Hace el símbolo más grueso */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #778c99; /* Aumenta el grosor del borde */
    cursor: pointer;
    background-color: #343a40; /* Fondo oscuro */
    color: white; /* Color del ícono */
}

.plus-button:hover, .delete-button:hover, .minimize-button:hover {
    background-color: #778c99; /* Fondo más claro al pasar el mouse */
    color: #21262b; /* Color más oscuro */
    border-color: #343a40; /* Borde más oscuro */
}

/* Aumenta el espacio entre botones si están en un grupo */
.button-group {
    display: flex;
    gap: 15px; /* Espaciado entre botones */
}

.boton {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgba(211, 211, 211, 0.5);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: auto;
}

.boton:hover {
    background-color: #21262b;
    color: #fff;
}

.boton-container {
    text-align: center;
    margin-top: 20px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    color: #343a40;
}

table, th, td {
    border: 1px solid #778c99;
    text-align: center;
}

th, td {
    padding: 10px;
}

th {
    background-color: #343a40;
    color: white;
}

td {
    background-color: #f8f9fa;
}

input[type="text"], input[type="number"] {
    background-color: #ffffff;
    color: #343a40;
    border: 1px solid #778c99;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border-color: #343a40;
}

.pareja-item {
    margin-bottom: 20px; /* Espaciado entre cada pareja */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Espaciado entre etiqueta e input */
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.pareja-item label {
    font-weight: bold;
    color: #343a40;
    text-align: right; /* Alinea la etiqueta a la derecha */
}

.pareja-item input {
    flex: 2; /* Espacio proporcional para el campo */
    padding: 12px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #778c99;
    background-color: #ffffff;
    color: #343a40;
    font-size: 16px; /* Texto más grande */
    width: 100%; /* Abarca todo el espacio disponible */
    box-sizing: border-box; /* Incluye padding en el ancho */
}

.pareja-item input::placeholder {
    font-size: 14px; /* Tamaño del texto placeholder */
    color: #778c99;
}

.jornada-header {
    background-color: #f8f9fa; /* Fondo gris claro */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Centrar el texto */
    font-size: 16px; /* Tamaño del texto */
    color: #343a40; /* Color del texto */
}

.plus-button .material-symbols-outlined {
    font-size: 24px; /* Ajusta el tamaño del ícono */
    vertical-align: middle; /* Alineación vertical */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.delete-button .material-symbols-outlined,
.minimize-button .material-symbols-outlined {
  font-size: 24px; /* Tamaño de los íconos */
  vertical-align: middle; /* Alineación vertical */
  cursor: pointer; /* Cambia el cursor al pasar sobre los íconos */
}

/* Responsive */
@media screen and (max-width: 768px) {
    .jornada-header {
        font-size: 10px; /* Tamaño reducido en móviles */
        padding: 10px; /* Espaciado interno */
    }
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
    /* Contenedor para scroll horizontal */
    .table-container {
        overflow-x: auto; /* Permite scroll horizontal */
    }

    table {
        width: 100%;
        font-size: 10px; /* Reduce el tamaño del texto */
    }

    th, td {
        padding: 8px; /* Reduce el padding para ahorrar espacio */
    }

    input[type="number"] {
        width: 100%;
        font-size: 12px; /* Ajusta el tamaño del texto dentro del input */
        padding: 6px; /* Reduce el padding */
    }

    h3 {
        font-size: 16px; /* Ajusta el tamaño del encabezado de las jornadas */
        text-align: center;
    }
}