@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap");

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  height: 100vh;
  font-weight: bold;
  position: relative;
}

.section1,
.section2,
.section3 {
  background-color: #3e1e68;
  opacity: 1;
  background: repeating-linear-gradient(
    -45deg,
    #7d3dc4,
    #7d3dc4 5px,
    #562b87 5px,
    #3e1e68 25px
  );
}

.section1::before,
.section2::before,
.section3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #7d3dc4,
    #7d3dc4 5px,
    #562b87 5px,
    #3e1e68 25px
  );
  filter: blur(3px);
  z-index: -1;
}

.progress-bar-container {
  position: absolute;
  top: 30px;
  left: 10%;
  width: 80%;
  height: 5px;
  background: #818181;
  border-radius: 0px;
  z-index: 10;

  -webkit-box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 35px 0px rgba(255, 255, 255, 1);
}

.progress-bar {
  height: 100%;
  width: 33.3%;
  background: #fff;
  transition: width 0.3s ease;
  border-radius: 0px;
}

.collage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 15px;
}

.collage img {
  width: 100%;
  height: auto;
  border-radius: 15px;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.description {
  font-family: Poppins;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  padding: 0.8%;
}

.tap-left,
.tap-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.tap-left {
  left: 0;
  z-index: 1;
}
.tap-right {
  right: 0;
  z-index: 1;
}

.section2-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw; /* Asegura que ocupe toda la pantalla */
  overflow: hidden; /* Evita que se genere espacio extra */
  margin: 0;
  padding: 0;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

@keyframes headTilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.img1 {
  width: 190px;
  height: auto;
  position: absolute;
  bottom: -10px;
  left: 10px;
  animation: headTilt 3s infinite alternate ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.img4 {
  width: 140px;
  height: auto;
  position: absolute;
  bottom: 100px;
  right: 25px;
  animation: headTilt 1.5s infinite alternate ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.img2 {
  width: 170px;
  height: auto;
  position: absolute;
  top: -10px;
  left: 10px;
  animation: headTilt 3s infinite alternate ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.img5 {
  width: 180px;
  height: auto;
  position: absolute;
  top: 25px;
  right: 10px;
  transform: rotate(-15deg);
  animation: headTilt 1.5s infinite alternate ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.img3 {
  width: 230px;
  height: auto;
  position: absolute;
  top: 200px;
  right: -10px;
  transform: translateY(-50%);

  animation: headTilt 3s infinite alternate ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.container-letter {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  z-index: 10;
  overflow: visible;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.cover {
  position: relative;
  width: 200px;
  height: 100px;
  background: repeating-linear-gradient(
    -45deg,
    #fe3334,
    #fe3334 10px,
    #fff1f1 10px,
    #fff1f1 25px
  );
  top: 0;
  border-radius: 5px;
  transition: transform 0.75s ease-in-out, z-index 0.75s ease-in-out;
  z-index: 1;
}

.open-cover {
  transform: translateY(-75px) rotateX(150deg);
  z-index: 1;
}

.letter {
  position: absolute;
  width: 200px;
  height: 130px;
  background: repeating-linear-gradient(
    -45deg,
    #ff858a,
    #ff858a 10px,
    #fff1f1 10px,
    #fff1f1 25px
  );
  bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

.paper {
  position: absolute;
  background: white;
  width: 180px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins";
  color: #333;
  border-radius: 5px;
  transition: transform 0.75s, opacity 0.5s;
  opacity: 0;
  z-index: 1;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.open-paper {
  opacity: 1;
}

.section3-content {
  position: relative;
  overflow: hidden;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) scale(1.2);
    opacity: 0;
  }
}

.heart-fall {
  position: fixed;
  font-size: 24px;
  opacity: 1;
  animation: fall 5s linear infinite;
  color: #ff6699;
  z-index: 9999;
}

.heart-fall:nth-child(odd) {
  color: #ff3366;
}
.heart-fall:nth-child(even) {
  color: #ff99cc;
}
.heart-fall:nth-child(3n) {
  color: #ffcccc;
}

.section4-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.invitation-card {
  background: radial-gradient(
    circle,
    rgba(203, 203, 203, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 12px rgba(0, 0, 0, 0.75);
  text-align: center;
  position: relative;
  border: 3px solid #654b7b;
}

.invitation-card .corner-top-left,
.invitation-card .corner-top-right,
.invitation-card .corner-bottom-left,
.invitation-card .corner-bottom-right {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #654b7b;
  border-radius: 50%;
}

.invitation-card .corner-top-left {
  top: -6px;
  left: -6px;
}
.invitation-card .corner-top-right {
  top: -6px;
  right: -6px;
}
.invitation-card .corner-bottom-left {
  bottom: -6px;
  left: -6px;
}
.invitation-card .corner-bottom-right {
  bottom: -6px;
  right: -6px;
}

.location-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.material-symbols-outlined {
  font-size: 28px;
  font-weight: bolder;
  vertical-align: middle;
  color: #333;
  margin-right: 8px;
}

.location-text {
  font-size: 18px;
  font-weight: bold;
}

.map-container {
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.map-image {
  width: 100%;
  border-radius: 0px;
}

.map-iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 0px;
}

.event-details {
  text-align: left;
  font-size: 16px;
  color: #000;
  padding-top: 10px;
}

.event-details p {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.event-details p:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background: #654b7b;
  padding: 1px;
  margin-top: 5%;
}

.section5-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  z-index: 5;
}

.confirmation-card {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  border: 3px solid #654b7b;
}

.confirmation-card .corner-top-left,
.confirmation-card .corner-top-right,
.confirmation-card .corner-bottom-left,
.confirmation-card .corner-bottom-right {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #654b7b;
  border-radius: 50%;
}

.confirmation-card .corner-top-left {
  top: -6px;
  left: -6px;
}
.confirmation-card .corner-top-right {
  top: -6px;
  right: -6px;
}
.confirmation-card .corner-bottom-left {
  bottom: -6px;
  left: -6px;
}
.confirmation-card .corner-bottom-right {
  bottom: -6px;
  right: -6px;
}

.elegant-title {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 30px;
  color: #654b7b;
  margin-bottom: 15px;
  margin-top: -8px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border: 2px solid #654b7b;
  overflow: hidden;
}

.image-box {
  width: 100%;
  display: block;
}

.circle-top-left,
.circle-top-right,
.circle-bottom-left,
.circle-bottom-right {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #654b7b;
  border-radius: 50%;
}

.circle-top-left {
  top: -5px;
  left: -5px;
}
.circle-top-right {
  top: -5px;
  right: -5px;
}
.circle-bottom-left {
  bottom: -5px;
  left: -5px;
}
.circle-bottom-right {
  bottom: -5px;
  right: -5px;
}

.divider {
  width: 100%;
  height: 2px;
  background: #654b7b;
  margin: 15px auto;
}

.qr-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  gap: 20px;
}

.qr-image {
  width: 100px;
  height: 100px;
}

.date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.save-the-date {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.date-text {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.confirm-button {
  background: linear-gradient(to right, #654b7b, #9c77af);
  line-height: 1;
  font-size: 16px;
  font-family: "Poppins";
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.confirm-button:hover {
  background: linear-gradient(to right, #9c77af, #654b7b);
  transform: scale(1.05);
  box-shadow: 0 0 #333;
}

.music-player {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  z-index: 1000;
}

.music-btn {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  background: none;
  font-size: 24px;
  color: #654b7b;
  transition: transform 0.2s;
}

.music-btn span {
  color: #654b7b !important;
}

.music-btn span :active {
  color: #513a64 !important;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.song-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #654b7b;
}

#songTitle {
  font-size: 16px;
  font-weight: bold;
  color: #654b7b;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
